*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('bg.jpeg');
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.taskbar{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: center;
    background-color: #d3dbe2;
}

.startmenu{
    position: absolute;
    /* bottom: 58px; */
    bottom: -655px;
    width: 100%;
    text-align: center;
}
.startmenu img{
    border-radius: 8px;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 1px 0px;
    height: 85%;
}

.left{
    justify-self: flex-start;
    position: absolute;
    left: 0;
}

.middle{
    margin: 1px 0px;
    width:530px;
}

.icons{
    color: white;

}
.menumiddle{
    width:630px;
    height:653px;
}
.microsoft_edge{
    margin: 0px 19px;
}
.Bin{
    margin: 0px 14px; 
}
.chrome{
    margin: 0px 7px;
}